@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, 0.19);
    --color-green-shadow: rgba(58, 253, 197, 0.24);
    --color-redish-shadow: rgba(248, 81, 118, 0.23);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #fff;
}

.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

/*PAGE HEADER*/

header{
    position: absolute;
    top: 0;
    width: 100%;
    background: var(--color-white);
    margin-bottom: 0;
}

header .container{
    box-shadow: 0 3px 6px #00000029;
    padding: 28px 10% 12px 10%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header h2{
    font: normal normal 300 32px/37px Raleway,sans-serif;
    color: var(--color-primary);
    margin-left: 50px;
}

nav ul li{
    display: inline-block;
    font: normal normal bold 11px/15px "Open Sans",sans-serif;
    letter-spacing: 3px;
}

nav a{
    color: var(--color-grey);
}

nav ul li a:hover{
    cursor: pointer;
    margin: 0;
    color:var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

nav ul li a:focus{
    outline: none;
}

li a{
    text-decoration: none;
    border: none;
    padding: 18px 47px;
}

/*PAGE BANNER*/

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner .container {
    margin-top: 130px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.banner h1 {
    text-align: center;
    font: normal normal normal 49px/57px Raleway;
}

.banner p{
    margin-top: 20px;
    margin-bottom: 38px;
}

.banner a{
    background: var(--color-primary);
    padding: 20px;
    border-radius: 30px;
    transition: all linear .1s;
}

.banner a:hover{
    transform: scale(1.1);
}

.banner img{
    width: 100%;
}
/*MAIN PAGE*/

main{
    width: 100%;
    background: var(--color-white);
}

main .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main h2{
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    padding-top: 100px;
}

.option{
    width:100%;
    margin: 100px 0 120px 0;
    display: flex;
    justify-content: space-evenly;
}

.option div{
    width:163px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.option div h3{
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 6px;
    color: var(--color-black);
    margin-bottom: 20px;
}

.option div p{
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 1rem;
    color: var(--color-grey);
}

.option img{
    position: absolute;
    top:15px;
    right: 32px;
}

.option_img::after{
    content: "";
    width: 63px;
    height: 63px;
    background: var(--color-redish);
    border-radius: 50%;
    margin-bottom: 13px;
}

/*PAGE CONTENT*/

.content{
    width: 100%;
    background: var(--color-light-grey);
    padding: 70px 0;
}

.content .container{
    flex-direction: column;
}

.content_option{
    background: var(--color-white);
    margin:37px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1124px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    padding: 35px 35px 10px 35px;
    position: relative;
    transition: all linear .1s;
}

.content_option:first-of-type img{
    width: 386px;
    height: 219px;
    margin: 75px 80px 25px 170px;
    position: relative;
    z-index: 1;
}

.content_option:nth-of-type(2) img{
    width: 426px;
    height: 328px;
    margin: 0 170px 0 0;
    position: relative;
    z-index: 1;
}

.content_position img{
    width: 296px;
    height: 208px;
    position: relative;
}

.content_position{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_position .content_option{
    width: 623px;
    height: 370px;
}

.content_trumpet{
    background: var(--color-green);
    width: 440px;
    height: 370px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    transition: all linear .1s;
}

.content_option h2{
    text-align: left;
    font: normal normal normal 36px/42px Raleway, sans-serif;
    margin-top: -50px;
    width: 250px;
}

.content_option h2:last-of-type{
    width: 350px;
}

.content_option p{
    text-align: left;
    font: normal normal normal 16px/22px "Open Sans",sans-serif;
    padding-top: 30px;
}

.content_substance{
    padding-top: 70px;
    height: 230px;
}

.content_substance::after{
    content: "";
    display: block;
    width: 328px;
    margin: 45px 0 20px 0;
    border-radius: 20px;
}

.line1::after{
    border: 2px solid var(--color-redish);
}

.line2::after{
    border: 2px solid var(--color-primary);
}

.line3::after{
    border: 2px solid var(--color-green);
}

.container > .content_option:nth-child(1)::before{
    content: "";
    width: 200px;
    height: 200px;
    background: red;
    position: absolute;
    border-radius: 41px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    right: 70px;
    z-index: 0;
}

.container > .content_option:nth-child(2)::before{
    content: "";
    width: 320px;
    height: 320px;
    background: var(--color-primary);
    position: absolute;
    border-radius: 50%;
    top: 15px;
    left: 70px;
    z-index: 0;
}

.content_option:hover{
    cursor:pointer;
    transform: scale(1.1);
}

.content_trumpet:hover{
    cursor:pointer;
    transform: scale(1.1);
}

/*PAGE PRICE SECTION*/

.price{
    width: 100%;
    padding: 100px 0;
}

.price .container{
    display: flex;
    flex-direction: column;
}

.price_section{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.price_option{
    width: 372px;
    height: 461px;
    border-radius: 18px;
    text-align: center;
    padding: 34px 120px;
    margin-top: 70px;
    transition: all linear .1s;
}

.price_option:first-of-type{
    margin-right: 60px;
    border: 1px solid var(--color-redish);
}

.price_option:nth-of-type(2){
    margin-right: 60px;
    border: 1px solid var(--color-primary);
}

.price_option:nth-of-type(3){
    border: 1px solid var(--color-green);
}

.price h2{
    text-align: center;
    font: normal normal normal 36px/42px Raleway,sans-serif;
}

.price_option h3{
    font: normal normal bold 20px/1px Raleway,sans-serif;
    color: #13253B;
    padding-bottom: 15px;
}

.p1{
    font: normal normal 300 46px/2px "Open Sans",sans-serif;
    color: var(--color-redish);
    padding: 35px 0 100px 0;
}
.p2{
    font: normal normal 300 46px/2px "Open Sans",sans-serif;
    color: var(--color-primary);
    padding: 35px 0 40px 0;
}
.p3{
    font: normal normal 300 46px/2px "Open Sans",sans-serif;
    color: var(--color-green);
    padding: 35px 0 40px 0;
}

h5{
    font: normal normal bold 12px/1px Raleway,sans-serif;
    color: #13253B;
    padding: 0 0 62px 0;
}

.price_option ul li{
    padding-bottom: 20px;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    line-height: 1.1rem;
}

.price_option ul li::before{
    content: url("../assets/Ckechmark-1.svg");
    width: 11px;
    height: 11px;
    padding-right: 10px;
}

.list1 li:nth-of-type(4)::before,
.list1 li:nth-of-type(5)::before{
    content: url("../assets/Close.svg");
    width: 11px;
    height: 11px;
    padding-right: 10px;
}

.list2 li:nth-of-type(5)::before{
    content: url("../assets/Close.svg");
    width: 11px;
    height: 11px;
    padding-right: 10px;
}

.price_option::after{
    content: "";
    width: 150px;
    height: 50px;
    border-radius: 23px;
    position: absolute;
    bottom: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font: normal normal bold 13px/41px "Open Sans",sans-serif;
    color: var(--color-white);
}

.price_option:first-of-type::after{
    content: "Begin";
    background: var(--color-redish);
}

.price_option:nth-of-type(2)::after{
    content: "Begin";
    background: var(--color-primary);
}

.price_option:nth-of-type(3)::after{
    content: "Begin";
    background: var(--color-green);
}

.price_option:hover{
    cursor:pointer;
    transform: scale(1.1);
}

.price_option:nth-of-type(1):hover{
    box-shadow: 5px 10px 27px var(--color-redish-shadow);
}

.price_option:nth-of-type(2):hover{
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
}

.price_option:nth-of-type(3):hover{
    box-shadow: 5px 10px 27px var(--color-green-shadow);
}

/*PAGE CONTACT*/

.contact{
    width: 100%;
    padding-bottom: 200px;
}

.contact .container{
    margin: 0 auto;
    height: 380px;
    display: flex;
    align-items: flex-start;
    padding: 100px 25%;
}

.contact_question h2{
    font: normal normal normal 49px/57px Raleway,sans-serif;
    width: 350px;
    padding-bottom: 22px;
}

.contact_question p{
    text-align: left;
    font: normal normal normal 16px/22px "Open Sans",sans-serif;
    padding-bottom: 42px;
}

.contact_question{
    height: fit-content;
}

.contact_que_info p{
    text-align: left;
    font: normal normal 600 16px/22px "Open Sans",sans-serif;
    color: var(--color-grey);
    padding-bottom: 0;
    display: inline-block;
    padding-right: 57px;
}

.contact_que_info p:nth-of-type(2){
    padding: 0;
}

.contact_area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 115px;
}

.contact_area > label:first-of-type,
.contact_area label:nth-of-type(2){
    text-align: left;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3px;
    padding-bottom: 2px;
    color: var(--color-primary);
}

.checkbox_area label{
    text-align: left;
    font: normal normal normal 12px/17px "Open Sans",sans-serif;
    color: var(--color-grey);
}

input[type="text"],
input[type="email"]{
    appearance: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-grey);
    border-right-width: 460px;
    margin-bottom: 30px;
    font-size: 25px;
}


.checkbox_area input[type="checkbox"]:focus{
    content: url("../assets/Checkmark.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox_area input[type="checkbox"]{
     appearance: none;
     width: 24px;
     height: 24px;
     border: 1px solid #95989A;
     border-radius: 4px;
     float: left;
     margin-right: 5px;
     margin-bottom: 120px;
     padding: 3px;
    cursor: pointer;
 }

.contact button{
    width: 200px;
    height: 50px;
    background: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    border-radius: 35px;
    border: none;
    margin-top: 20px;
    align-self: flex-end;
    color: var(--color-white);
    font: normal normal bold 13px/18px "Open Sans",sans-serif;
    cursor: pointer;
    transition: all linear .1s;
}

.contact button:hover{
    transform: scale(1.1);
}

/*PAGE FOOTER*/

footer{
    width: 100%;
    height: 89px;
    background: var(--color-light-grey);
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h2{
    font: normal normal 300 26px/30px Raleway,sans-serif;
    color: var(--color-primary);
}

footer h2:hover{
    cursor: pointer;
}

footer h6{
    font: normal normal normal 11px/15px "Open Sans",sans-serif;
    color: var(--color-grey);
}

.footer_icons img:last-of-type{
    padding: 20px;
}

.footer_icons img:hover{
    cursor:pointer;
}