$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, 0.19);
$color-green-shadow: rgba(58, 253, 197, 0.24);
$color-redish-shadow: rgba(248, 81, 118, 0.23);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
$color-white: #fff;
